* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}

body{
    display: flex;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    background-color: rgb(243, 243, 243);
    padding: 0;
    margin: 0;
}

.instagram-wrapper {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 60%;
    height: 100vh;
    margin-top: 4px;
}


.instragram-celular {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.instragram-celular img {
    height: 50rem;
}

.instagram-login {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 100%;
    min-height: 35rem;
}

.group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    width: 150%;
    padding: 2.5rem 0;
    border: 1px solid rgb(218, 216, 216);
}

.group-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    width: 150%;
    padding: 1.5rem 0;
    border: 1px solid rgb(218, 216, 216);
}

.group-3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 150%;
    padding: 0.5rem 0;
}

.group:nth-child(1) {
    min-height: 19rem;
}


.img-perfil {
    margin: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
}

.img-perfil img {
    height: 7rem;
}

.btnLogin{
    background-color: rgb(136, 202, 240);
    color: #FFFFFF;
    font-weight: bold;
    font-family: "Segoe UI",Helvetica,Arial,sans-serif;
    font-size: 14px;
    height: 30px;
    width: 200px;
    border-radius: 6px;
    border-style: none;
    cursor: pointer;
    margin-top: 15px;
}

.iconesRodape{
    text-align: center;
    margin-top: 15px;
}

#loginUser, #senhaUser{
    height: 30px;
    width: 200px;
    font-size: 10px;
    border-radius: 4px;
}

#nomeFacebook{
    color: #385185; 
    font-weight: bold;
}

#face{
    margin-top: 20px;
}